<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>House Attendance</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">TGIF</a>
        <a href="mailto:info@tgif.com" class="navbar-right"><span class="glyphicon glyphicon-envelope"></span>
          info@tgif.com</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="home-starter-page.html">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Congress 113 <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a href="senate-starter-page.html">Senate</a></li>
            <li><a href="house-starter-page.html">House</a></li>
          </ul>
        </li>
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Attendance<span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a href="senate_attendance_statistics.html">Senate</a></li>
            <li class="active"><a href="#">House</a></li>
          </ul>
        </li>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loyalty<span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a href="senate-party-loyalty.html">Senate</a></li>
            <li><a href="house-party-loyalty.html">House</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>


  <header>
    <div>
    </div>
  </header>
  <!--Table container-->
  <div class="container" id="app">
    <div class="row">
      <div class="col-sm-6">
        <h2>Attendance</h2>
        <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house.
          Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most
          cases,
          debates continue even if a majority is not present.</p>

        <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye"
          or
          "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a
          roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In
          the
          case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the
          tiebreaking vote.</p>
      </div>

      <div class="col-sm-6">
        <h2>House at a glance</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Party</th>
              <th>Number of Reps</th>
              <th>% Voted with Prty</th>
            </tr>
          </thead>
          <tbody>
            <tr id="republican">
              <td>Republican</td>
              <td>{{statistics.nro_republicans}}</td>
              <td>{{statistics.republicans_loyalty}} %</td>
            </tr>
            <tr id="democrat">
              <td>Democrat</td>
              <td>{{statistics.nro_democrats}}</td>
              <td>{{statistics.democrats_loyalty}} %</td>
            </tr>
            <tr id="independent">
              <td>Independent</td>
              <td>{{statistics.nro_independents}}</td>
              <td>{{statistics.independents_loyalty||'-'}} %</td>
            </tr>
            </tr>
            <tr id="total">
              <td>Total</td>
              <td>{{statistics.totalMembers}}</td>
              <td>{{statistics.totalAvgVotes}} %</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-6">
        <h2>Least Engaged (Bottom 10% Attendance)</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Missed Votes</th>
              <th>% Missed</th>
            </tr>
          </thead>
          <tbody id="leastEngaged">
            <tr v-for='member in statistics.leastEngaged'>
              <td><a v-bind:href='member.url'>{{member.first_name}} {{member.middle_name}} {{member.last_name}}</a></td>
              <td>{{member.missed_votes}}</td>
              <td>{{member.missed_votes_pct}} %</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-sm-6">
        <h2>Most Engaged (Top 10% Attendance)</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Missed Votes</th>
              <th>% Missed</th>
            </tr>
          </thead>
          <tbody id="mostEngaged">
              <tr v-for='member in statistics.mostEngaged'>
                  <td><a v-bind:href='member.url'>{{member.first_name}} {{member.middle_name}} {{member.last_name}}</a></td>
                  <td>{{member.missed_votes}}</td>
                  <td>{{member.missed_votes_pct}} %</td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <footer>
    &copy; TGIF 2016 | All Rights Reserved

  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>var selected_chamber = "house";</script>
  <script src="ajax.js"></script>
  <script src="statistics.js"></script>
</body>

</html>