<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Senate</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">TGIF</a>
        <a href="mailto:info@tgif.com" class="navbar-right"><span class="glyphicon glyphicon-envelope"></span>
          info@tgif.com</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="home-starter-page.html">Home</a></li>
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Congress 113 <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li class="active"><a href="#">Senate</a></li>
            <li><a href="house-starter-page.html">House</a></li>
          </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Attendance<span class="caret"></span></a>
  
            <ul class="dropdown-menu">
              <li><a href="senate_attendance_statistics.html">Senate</a></li>
              <li><a href="house_attendance_statistics.html">House</a></li>
            </ul>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loyalty<span class="caret"></span></a>
    
              <ul class="dropdown-menu">
                <li><a href="senate-party-loyalty.html">Senate</a></li>
                <li><a href="house-party-loyalty.html">House</a></li>
              </ul>
            </li>
      </ul>

    </div>
  </nav>


  <header>
    <div>
    </div>
  </header>
  <!--Table container-->
  <div class="container">
    <h2>Senators</h2>
    <p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S.
      Constitution. Each state is represented by two senators, regardless of population, who serve staggered
      six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to
      treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet
      secretaries, federal judges, other federal executive officials, military officers, regulatory officials,
      ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the
      House.</p>

    <form class="form-inline">

      <fieldset>
        <legend>Members</legend>

        <div class="col-xs-5"><b>Filter by party:</b>
          <label class="checkbox-inline"><input type="checkbox" name="party" value="D" checked>Democrat
          </label>
          <label class="checkbox-inline"> <input type="checkbox" name="party" value="R" checked>Republican</label>
          <label class="checkbox-inline"> <input type="checkbox" name="party" value="I" checked>Independent</label>
        </div>

        <div class="col-xs-4" id="state_menu">
          <label>Filter by State:</label>
          <select class="form-control" id="state_select">
            <option selected>All</option>

          </select>
        </div>
      </fieldset>
    </form>

    <div id="app">
      <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Party</th>
            <th>State</th>
            <th>Years in Office</th>
            <th>% Votes w/party</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="member in members">
            <td><a v-bind:href='member.url'>{{member.first_name}} {{member.middle_name}} {{member.last_name}}</a></td>
            <td>{{member.party}}</td>
            <td>{{member.state}}</td>
            <td>{{member.seniority}}</td>
            <td>{{member.votes_with_party_pct}} %</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer>
    &copy; TGIF 2016 | All Rights Reserved

  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>var selected_chamber = "senate";</script>
  <script src="main.js"></script>
  <script src="ajax.js"></script>
</body>

</html>