.navbar{
  font-weight: bolder;
}

.navbar-brand{
  font-size: 4em;
  padding: 25px;
  margin: 10px;
  float: left;
}

.navbar-right {
  margin:20px;
  font-size: 1.5em;
}

hr{
  border-width: 2px;
  border-color: gray;
}

.container{
  margin-top:40px;
}

.navbar-header{
  display: block;
  float:none;
  margin-bottom: 10px;
}

.nav {
  display: block;
  border:solid gray;
  float: none;
  box-shadow: 0px 5px 10px gray;
  background: lavender;

}
.nav > li > a:focus, .nav > li > a:hover{
  background: lightgrey;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
  background: lightgrey;
}

.active {
  background-color:#23527c;
  color: whitesmoke;
}

#state_menu{
  float: right;
  text-align: right;
}

td {
  padding-left: 5px;
}


footer {
  text-align: center;
  font-size: 1.3em;
  border: solid gray;
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 5px 10px gray;
  background: lavender;
}

.read a{
  font-size: 1.3em;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgba(211, 211, 211, 0.5);
 }